# java and maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
env.properties
*.iml

# frontend
.env
node_modules
dist

test-results/
playwright-report/
blob-report/
playwright/.cache/
state/

# IDEs
.idea
.vscode/*

# macOS
.DS_Store
