@layer components {
  .base-primary-border {
    background-color: var(--color-primary);
    border: var(--default-blue-border);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .base-dark-border {
    background-color: var(--color-primary);
    border: var(--default-blue-border);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .base-tertiary-border {
    background-color: var(--color-tertiary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .base-button {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5rem 0 2.5rem;
    color: var(--color-white-smoke);
    background-color: var(--color-dark-gun-metal);
    @apply text-2xl;
    text-align: center;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    border: 0.3rem solid var(--color-dark-gun-metal);
    border-radius: var(--default-border-radius);
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }

    &:hover {
      background-color: var(--color-jacarta);
      box-shadow: 0 0 0.5rem var(--color-jacarta);
    }
  }

  .base-application-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2.5rem;
    row-gap: 5rem;
    width: 95%;
    margin: 10rem auto 10rem auto;
    padding: 5rem 5rem 5rem 5rem;
    justify-items: center;
    align-items: center;

    & article {
      min-width: 100%;
    }

    & article:nth-last-of-type(2),
    & article:last-of-type {
      min-width: fit-content;
    }

    @media (min-width: 1024px) {
      width: 75%;
    }

    @media (min-width: 1280px) {
      width: 55%;
    }
  }
}
