@layer components {
  .form-title-head {
    @apply text-5xl;

    &::after {
      content: '';
      display: block;
      width: 66%;
      margin: 2.5rem auto 2.5rem auto;
      border-bottom: 0.5rem solid var(--color-secondary);
    }
  }
}
