@layer components {
  .core-primary-border {
    background-color: var(--color-primary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .core-secondary-border {
    background-color: var(--color-secondary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .core-tertiary-border {
    background-color: var(--color-tertiary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .core-loading-dialog-window {
    &[open] {
      opacity: 1;
      transform: scaleY(1);
    }

    &[open]::backdrop {
      backdrop-filter: blur(0.5rem);
    }

    @starting-style {
      &[open] {
        opacity: 0;
        transform: scaleY(0);
      }
    }
  }
}
