@layer components {
  .core-primary-border {
    background-color: var(--color-primary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .core-secondary-border {
    background-color: var(--color-secondary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }

  .core-tertiary-border {
    background-color: var(--color-tertiary);
    border-radius: var(--default-border-radius);
    box-shadow: var(--right-bottom-secondary-shadow);
  }
}
