@import 'tailwindcss';
@import './base-styles.css';
@import './components.css';
@import './layouts.css';

@layer base {
  * {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
    line-height: 1.5;
    scroll-behavior: smooth;
  }

  body {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--primary-font);
    color: var(--foreground);
    background-color: var(--background);

    & > div {
      position: relative;
      min-height: 100vh;

      & > div {
        height: 7.5rem;
      }
    }
  }

  a,
  a:hover,
  a:visited,
  a:active {
    text-decoration: none;
  }

  ul,
  ol,
  li {
    list-style-type: none;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font-size: inherit;
    font-family: inherit;
  }

  table {
    border-collapse: collapse;
  }
}

/* --destructive: #f94144;
--color-white-smoke: #f0f0f0;
--color-light-gray: #aaaaaa; DON'T USE THIS
--color-columbia-blue: #c9d7dd;
--color-jacarta: #31304d; DON'T USE THIS
--color-dark-gun-metal: #161a30;
--color-indian-yellow: #eea14f */

@theme {
  --foreground: #161a30;
  --background: #f0f0f0;

  --color-primary: #c9d7dd; /* blue */
  --color-secondary: #161a30; /* black */
  --color-tertiary: #f0f0f0; /* gray */

  --color-accent: #eea14f; /* orange */
  --color-accent-foreground: #161a30;

  --destructive: #f94144; /* red */
  --destructive-foreground: #f0f0f0;

  --primary-font: 'Raleway', 'sans-serif';
  --secondary-font: 'Roboto', 'sans-serif';

  --default-dark-border: 0.1rem solid var(--color-primary);
  --default-border-radius: 1.5rem;

  --right-bottom-shadow: 0.2rem 0.2rem 0 0.15rem var(--foreground);

  --animate-fade-in-from-left: fade-in-from-left ease 0.75s;

  @keyframes fade-in-from-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }

    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
