@layer utilities {
  .core-application-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2.5rem;
    row-gap: 5rem;
    width: 95%;
    margin: 2rem auto 2rem auto;
    padding: 0 5rem 0 5rem;
    justify-items: center;

    & article:nth-last-of-type(2),
    & article:last-of-type {
      min-width: fit-content;
    }
  }

  .application-grid {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2.5rem;
    row-gap: 5rem;
    margin: 10rem auto 10rem auto;
    padding: 5rem 5rem 5rem 5rem;
    justify-items: center;
    align-items: center;

    @apply lg:w-[75%];
  }
}
