[
  {rabbit, [
    {default_user, <<"guest">>},  % Set default username
    {default_pass, <<"guest">>},  % Set default password
    {tcp_listeners, [{"0.0.0.0", 5672}]},  % Listen on all network interfaces
    {vm_memory_high_watermark, 0.4},  % Memory high watermark (40%)
    {disk_free_limit, "500MB"},  % Disk free limit for queues and messages
    {log_levels, [{connection, info}]}  % Log connection events at info level
  ]},
  {rabbitmq_management, [
    {listener, [{port, 15672}]},
    {listener, [{ip, "0.0.0.0"}]},  % Allow remote access to the management plugin
    {load_definitions, "/etc/rabbitmq/definitions.json"}

  ]},
  {rabbitmq, [
    {loopback_users, []}  % Allow 'guest' user to connect from non-localhost
  ]}
].